{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "next"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "jsx-a11y/alt-text": "off",
    "no-empty": "off",
    "@next/next/no-img-element": "off"
  }
}