.tab {
  margin: 0 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #87878D;
  height: 30px;
  border-radius: 15px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #D5D5DC;
  transition: all 0.3s;
  &:hover {
    color: #3C3C3E;
    border-color: #767679;
  }
}

.active {
  color: #ffffff !important;
  background-color: #3C3C3E;
}