.container {
  border-bottom: 1px solid #D5D5DC;
  .tab {
    border-radius: 8px 8px 0px 0px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #3C3C3E;
    height: 42px;
    cursor: pointer;
  }
  .active {
    background: #3C3C3E;
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.03);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }

  @media (max-width: 767px) {
    margin-top: 40px;
    .tab {
      font-size: 12px;
    }
    .active {
      font-size: 12px;
    }
  }
}