.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  .tabs {
    margin-bottom: 36px;
  }
  .pools {
    display: flex;
    align-items: flex-start;
  }
  .pollSlide {
    max-width: 1200px;
  }
  .pool { 
    padding: 0 15px;
    max-width: 400px;
    flex: 1;
  }

  .logo {
    width: 100px !important;
    object-fit: contain !important;
    border-radius: 0 !important;
  }

  @media (max-width: 767px) {
    .pools {
      flex-direction: column;
    }
    .pool {
      max-width: 100%;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}