@import 'customize';

body {
  font-size: 1rem;
  font-family: Montserrat, sans-serif !important;
}

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

.modal-backdrop.show, .modal {
  z-index: 999999 !important;
}

.modal-content {
  border-radius: 20px;
}

