@import 'customize';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

@font-face {
  font-family: 'segoe ui variable';
  src: url('/assets/font/SegoeUIVariableStaticText.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'segoe ui variable';
  src: url('/assets/font/SegoeUIVariableStaticTextLight.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'segoe ui variable';
  src: url('/assets/font/SegoeUIVariableStaticTextSemibold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'segoe ui variable';
  src: url('/assets/font/SegoeUIVariableStaticTextBold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  font-size: 1rem;
  font-family: segoe ui variable, sans-serif !important;
}

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

.modal-backdrop.show,
.modal {
  z-index: 999999 !important;
}

.modal-content {
  border-radius: 20px;
}

.btn {
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(62, 72, 100, 0.05);
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #262627;
  transition: all 0.3s;
  border: 2px solid transparent;
}

.btn-small {
  height: 36px;
  border-radius: 4px;
}

.btn-main {
  background: #eece7c;
  &:hover {
    background: #ffffff;
    border: 2px solid #e6e6ec;
    color: #3c3c3e;
  }
}

.btn-black {
  background: #3c3c3e;
  color: #ffffff;
  &:hover {
    background: #ffffff;
    border: 2px solid #e6e6ec;
    color: #3c3c3e;
  }
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #3c3c3e;
}

// .mb-20 {
//   margin-bottom: 20px !important;
// }

// .mb-10 {
//   margin-bottom: 10px !important;
// }

// .mx-8 {
//   margin: 0 8px !important;
// }

// .mb-12 {
//   margin-bottom: 12px !important;
// }

// .mx-10 {
//   margin: 0 10px !important;
// }

// .mx-16 {
//   margin: 0 16px !important;
// }

// .mb-50 {
//   margin-bottom: 50px !important;
// }
// .mb-40 {
//   margin-bottom: 40px !important;
// }

// .mb-100 {
//   margin-bottom: 100px !important;
// }
// .mb-26 {
//   margin-bottom: 26px !important;
// }

.news-item {
  background: #fcfcfc;
  box-shadow: 0px 4px 15px rgba(62, 72, 100, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

// .mt26 {
//   margin-top: 24px;
// }

// .h-214 {
//   height: 214px;
// }

.team {
  background: radial-gradient(120.63% 82.26% at 50% 25.12%, #333333 0%, #484848 23.96%, #333333 58.13%);
  border-radius: 10px;
  overflow: hidden;
}

.team-avatar-large {
  width: 189px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.team-avatar {
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 173px;
}

// .mt-110 {
//   margin-top: 110px;
// }

.center {
  margin: 0 auto;
}

.divider {
  border-bottom: 1px solid #cdd5e4;
}

.team-item-h {
  max-height: 555px;
  transition: all 0.3s;
}

.team-item-h-full {
  max-height: 100%;
}

.more-info {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  .arrow-icon {
    transform: rotate(-90deg);
    transition: all 0.3s;
  }
}

.team-item-h-full {
  .more-info {
    .arrow-icon {
      transform: rotate(90deg);
    }
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
    line-height: 36px;
  }
}

// .mh40 {
//   min-height: 40px;
// }

.custom-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn-social {
  &:hover {
    color: #333333 !important;
  }
}

.custom-container-small {
  max-width: 1000px !important;
  margin: 0 auto;
  width: 100%;
}

.swiper-wrapper {
  max-width: calc(100vw - 80px);
  margin: auto;
  // transition-timing-function: linear;
}