.container {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 100px auto;
  .banner {
    margin-bottom: 50px;
  }
  .list {
    padding: 0px 130px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      padding: 0px;
    }
  }
  .card {
    display: flex;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #fff;
    width: fit-content;
    margin-right: 20px;
  }
}
